{% extends "base.html" %}
{% load static %}

{% block title %}
    Поиск
{% endblock %}

{% block content %}

<form action="" method="post">
    {% if obj %}
        <!-- <div class="bookpage">
            Автор записи: {{obj.author}}
        </div>
        <div class="bookpage">
            Автор книги: {{obj.author_book}}
        </div>
        <div class="bookpage">
            <img src="{% static obj.image.url %}" height="400">
        </div> -->
        <div class="book">
            {% if obj.image_thumbnail %}
                <img src = "{{ obj.image_thumbnail.url }}" alt = "{{ obj.article }}thumbnail">
            {% endif %}
                <a href="http://127.0.0.1:8000/news/{{ obj.id }}">{{ obj.article }}</a>
        </div> 
    {% else %}
        <h3>Пока что ничего не найдено...</h3>
    {% endif %}

    {% csrf_token %}

    {{ form_search.as_p }}

    <input type="submit" value="Искать">
</form>

{% endblock %}
