{% extends "base.html" %}

{% block title %} Main title {% endblock %}

{% block content %}
<div class="central">
    <div class="filter">
        <form class="column" action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Фильтровать">
        </form>
        <form class="column" action="searching/" method="get">
            <a href="searching">Поиск</a>
        </form>
    </div>
        {% for news in news_list %}
            <div class="book">
                {% if news.image_thumbnail %}
                    <img src = "{{ news.image_thumbnail.url }}" alt = "{{ news.article }}thumbnail">
                {% endif %}
                    <a href="news/{{ news.id }}">{{ news.article }}</a>
            </div> 
    </div>
</div>
{% endfor %}
{% endblock %}

